---
const currentYear = new Date().getFullYear()
---

<footer>
  
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - More Projects on <a href="https://www.instagram.com/jorgegdev/">instagram</a>. Made with ❤️ by <a
          href="https://www.jorgegdev.com">JorgeGDev</a
        >.
      </p>
    </div>
  </section>
</footer>
