.contenedor{
	display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, auto);   
    gap: 3rem; 
    width: 100%;
    max-width: 1200px; 
    margin: 20px 0px auto; 
    padding: 1rem;

}


.contenedor .pelicula .titulo {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.contenedor .pelicula .poster {
	width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px; 
}

.paginacion {
	
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

canvas{
	height: 450px;
	width: 30%;
	

}


/* Estilos Generales */
.htmlScreen iframe {
	width: 90vw; /* Ancho relativo al viewport */
	height: calc(90vw * 9 / 16); /* Mantener la proporción 16:9 */
	max-width: 1050px; /* Limitar el ancho máximo */
	max-height: 580px; /* Limitar la altura máxima */
	min-width: 300px; /* Establecer un ancho mínimo */
	min-height: calc(300px * 9 / 16); /* Mantener la proporción 16:9 */
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .youtube-container {
	width: 90vw; /* Ancho relativo al viewport */
	height: calc(90vw * 9 / 16); /* Mantener la proporción 16:9 */
	max-width: 1050px; /* Limitar el ancho máximo */
	max-height: 580px; /* Limitar la altura máxima */
	min-width: 300px; /* Establecer un ancho mínimo */
	min-height: calc(300px * 9 / 16); /* Mantener la proporción 16:9 */
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Media Queries */
  @media (max-width: 1200px) and (min-width: 1000px) {
	.contenedor {
	  grid-template-columns: repeat(3, 1fr); /* Tres columnas en este rango */
	  gap: 2rem; /* Ajustar el espacio entre elementos */
	}
  
	.youtube-container,
	.htmlScreen iframe {
	  width: 80vw; /* Ajustar ancho */
	  height: calc(80vw * 9 / 16); /* Mantener la proporción 16:9 */
	}
  }
  
  @media (max-width: 1000px) {
	.contenedor {
	  grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
	  gap: 1.5rem; /* Reducir el espacio entre elementos */
	}
  
	.youtube-container,
	.htmlScreen iframe {
	  width: 70vw; /* Ajustar ancho */
	  height: calc(70vw * 9 / 16); /* Mantener la proporción 16:9 */
	  min-width: 280px; /* Ajustar el ancho mínimo */
	  min-height: calc(280px * 9 / 16); /* Ajustar la altura mínima */
	}
  }
  
  @media (max-width: 768px) {
	.contenedor {
	  grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
	  gap: 1.5rem; /* Reducir el espacio entre elementos */
	}
  
	.trailer_container {
	  height: 40vh; /* Altura relativa al viewport */
	  width: 90vw; /* Anchura relativa al viewport */
	}
  
	.youtube-container,
	.htmlScreen iframe {
	  width: 80vw; /* Ancho relativo al viewport */
	  height: calc(80vw * 9 / 16); /* Mantener la proporción 16:9 */
	  min-width: 280px; /* Ajustar el ancho mínimo */
	  min-height: calc(280px * 9 / 16); /* Ajustar la altura mínima */
	}
  }
  
  @media (max-width: 480px) {
	.contenedor {
	  grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
	  gap: 1rem; /* Reducir aún más el espacio entre elementos */
	  padding: 0.5rem; /* Reducir el padding */
	}
  
	.trailer_container {
	  height: 50vh; /* Altura relativa al viewport */
	  width: 95vw; /* Anchura relativa al viewport */
	}
  
	.youtube-container,
	.htmlScreen iframe {
	  width: 100vw; /* Ancho relativo al viewport */
	  height: calc(100vw * 9 / 16); /* Mantener la proporción 16:9 */
	  min-width: 260px; /* Ajustar el ancho mínimo */
	  min-height: calc(260px * 9 / 16); /* Ajustar la altura mínima */
	}
  }
  